hotel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="hotel">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="nomHotel" type="xs:string"/>
        <xs:element name="nomville" type="xs:string"/>
        <xs:element name="classification" type="xs:int"  maxOccurens="2" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
