schemaSource1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="Flight">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id_flight" type="xs:string"/>
        <xs:element name="society" type="xs:string"/>
        <xs:element name="airport_departure" type="xs:string"/>
        <xs:element name="airport_arrives" type="xs:string"/>
        <xs:element name="date" type="xs:string"/>
        <xs:element name="price" type="xs:string"/>
        <xs:element name="kind" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
