schemaGlobal2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="hotels">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="name" type="xs:string"/>
        <xs:element name="region" type="xs:string"/>
        <xs:element name="city" type="xs:time"/>
        <xs:element name="pention" type="xs:time"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
